<form>
  <div class="col-md-4">



    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="dataCompromisso">Data do compromisso</label>
        <input type="text" class="form-control" id="dataCompromisso" placeholder="Data do compromisso">
      </div>
    </div>
    <div class="form-group">
      <label for="assunto">Assunto</label>
      <input type="text" class="form-control" id="assunto" placeholder="Ex: Reunião de negócio">
    </div>
    <div class="form-group">
      <label for="descricaoCompromisso">Descrição da Reunião</label>
      <!-- <input type="text" class="form-control" id="descricaoCompromisso" placeholder="Breve descrição do assunto a ser tratado"> -->
      <textarea class="form-control" id="descricaoCompromisso" rows="3"></textarea>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="horarioInicio">Horário de inicio</label>
        <input type="text" class="form-control" id="horarioInicio">
      </div>
      <div class="form-group col-md-6">
        <label for="horarioFim">Horário do fim</label>
        <input type="text" class="form-control" id="horarioFim">
      </div>
      <!-- <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div> -->
    </div>
    <button class="btn btn-primary" (click)="onClickMe()">Sign in</button>
  </div>
</form>